// =================
// =================
// =================
// ==== IMPORTS ====
// =================
// =================
// =================

@import './miscellaneous/variables.scss';
@import './miscellaneous/animations.scss';
@import './miscellaneous/mixins.scss';

@import './components/container.scss';
@import './components/header.scss';
@import './components/nav.scss';
@import './components/section.scss';
@import './components/table.scss';

// =================
// =================
// =================
// =================
// =================
// =================

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;

  @media (max-width: $mobile) {
    font-size: 9px;
  }

  @media (max-width: $mobile-small) {
    font-size: 8px;
  }
}

body {
  margin: 0;
  font-size: 2rem;
  color: $light-text-color;
  overflow-x: hidden !important;
  background-color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  display: block;
  border: none;
  font-family: inherit;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}
