// Main colors
$main-color: #27272a;
$secondary-color: #202124;

$divider-color: #414144;
$divider: solid 1px $divider-color;

// Text
$light-text-color: #ffffff;
$dark-text-color: #a1a1aa;

/* $shadow-color: rgba(#020060, 0.25);
$link-color: #002bc5; */

// Media
// $tablet: 768px;
